In [1]:
import math
import collections
import pickle
import random
import scipy
import json

from matplotlib import pyplot as plt

import GPy
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
Output = pd.read_excel('Titer_OD.xlsx','Repeat')
Output

   Production Condition      Titer    OD_Prod     OD_OG
0                  Exp0  84.495934  12.421250  6.278750
1                  Exp0  82.655348  10.762500  5.352500
2                  Exp1  59.207320  10.546250  5.610000
3                  Exp1  56.548271  10.817500  4.863750
4                  Exp2  54.537573   8.536250  5.735000
5                  Exp2  52.262899   8.360000  5.536666
6                  Exp3  39.906797   7.233750  3.757500
7                  Exp3  38.478795   7.073333  3.743333
8                  Exp4  44.108928   4.063750  2.912500
9                  Exp4  42.133496   3.992500  2.997500
10                 Exp5  89.455037  10.220000  5.836250
11                 Exp5  85.172517   9.126667  5.285000
12                 Exp6  52.547866   9.125000  4.555000
13                 Exp6  50.971900   9.022500  4.778750
14                 Exp7  52.443986   5.601250  3.638750
15                 Exp7  53.194404   5.723750  3.418750
16                 Exp8  70.580071   9.071250  4.147500
17                 Exp8  64.093750   8.360000  4.281250
18                 Exp9  33.572783   5.012500  3.123750
19                 Exp9  33.705394   4.772500  3.006250
20                Exp10   3.939278  10.968750  2.187500
21                Exp10   3.694207   9.876250  1.975000
22   BMGY, BMMY + Cells  51.061557   8.846250  3.958750
23   BMGY, BMMY + Cells  48.280345   9.143333  4.066667

In [3]:
initN = Output.shape[0]

Titer = []
Prod_OD = []
OG_OD = []
Spec_prod = []
Conditions = []
names_all = Output['Production Condition'].unique()

for name in names_all:
    Conditions.append(name)
    temp1 = Output['Titer'].loc[Output ['Production Condition'] == name].mean()
    temp2 = Output['OD_Prod'].loc[Output ['Production Condition'] == name].mean()
    temp3 = Output['OD_OG'].loc[Output ['Production Condition'] == name].mean()
    
    Titer.append(temp1) 
    Prod_OD.append(temp2)
    OG_OD.append(temp3)
    Spec_prod.append(temp1/temp2)

Data = {'Condition': Conditions, 'Titer': Titer, 
         'Specific Productivity': Spec_prod, 'Prod_OD': Prod_OD, 'OG_OD': OG_OD}

Round3_summary = pd.DataFrame(Data)

In [ ]:
plt.scatter(Titer, Spec_prod)

In [4]:
Round3_summary.to_csv('Round4_Result_Summary_Repeat.csv')

In [ ]:
Exp_4_pd = pd.read_csv('/Users/harini/Desktop/BO/BO_MediaOptimization/Molecules/RBDJ/RBDJ_Prod_CoCaBO/Codes/Round4/Reconstructed_Round4.csv')

Exp_4 = Exp_4_pd.iloc[:,1:].values

initN = 11

In [ ]:
Stock_solid = pd.read_excel('/Users/harini/Desktop/BO/BO_MediaOptimization/Molecules/RBDJ/RBDJ_Prod_CoCaBO/Codes/CarbonSourceInfo.xlsx', 'Stocks_solid')
Stock_liquid = pd.read_excel('/Users/harini/Desktop/BO/BO_MediaOptimization/Molecules/RBDJ/RBDJ_Prod_CoCaBO/Codes/CarbonSourceInfo.xlsx', 'Stocks_liquid')

Carbon_Names = Stock_solid['Carbon Source'].values.tolist()
Carbon_Names.append(Stock_liquid['Carbon Source'][1])
Carbon_Names.append(Stock_liquid['Carbon Source'][2])


Carbon_Ub = [50]*17 #[g/L]
Carbon_Ub.append(10) # Glycerol [mL/L]
Carbon_Ub.append(50) #Ethanol [mL/L]

OG_Gly_Ub = 100 #[mL/L]
Met_Ub = 100 #[mL/L]


Stock_Conc = Stock_solid['g/mL'].values.tolist()
Stock_Conc.append(Stock_liquid['mL/mL'][1].tolist())
Stock_Conc.append(Stock_liquid['mL/mL'][2].tolist())

OG_Stock_Conc = Stock_liquid['mL/mL'][0].tolist()


Selected_Carbon = []
Carbon_mL = []
OG_Gly_mL = []
Met_mL = []


for i in range(initN):
    Selected_Carbon.append(Carbon_Names[int(Exp_4[i,0])])
    temp_factor = Carbon_Ub[int(Exp_4[i,0])]
    temp = Exp_4[i,1] * temp_factor # (g/L)
    Carbon_mL.append(temp)
    OG_Gly_mL.append(Exp_4[i,2] * OG_Gly_Ub * 100/1000) #(%)
    Met_mL.append(Exp_4[i,3] * Met_Ub * 100/1000)#(%)
    
    

Experiment_1 = {'Carbon_Type': Selected_Carbon,
               'Conc_Carbon [g/L]': Carbon_mL,
               'Gly_OG [%]': OG_Gly_mL,
               'Met_Prod [%]': Met_mL}

pd.DataFrame(Experiment_1).to_csv('Round4_Design_Summary.csv')